[Unit]
Description=Run DDNS Updater for %i every 5 minutes
Requires=ddns-updater@%i.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30sec

[Install]
WantedBy=timers.target